


.logo {
    height: 10rem;
    padding: 1.5em;
    justify-self: left;
    margin-left: 0.2rem;
    border-radius: 50%;
    margin-right: 50%;
    background-color: rgb(219, 125, 219);
   
   
  }
  .nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
  }
  .nav-bar-items{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font: size 1.2rem;
    background-color: rgba(207, 71, 162, 0);
    box-shadow: 0 5px 15px rgba(71, 35, 59, 0);
    width:95%;
    height:80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left:50%;
    transform:translate(-50%);
    

  }
  .nav{
    background-color: rgba(207, 71, 162, 0);
  }